* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.squaresContainer {
    display: flex;
    flex-direction: column; /* rows: row under row */
    width: 400px;
    height: 400px;
    border: 1px solid red;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1; 
}

.square { 
    flex: 1;
    flex-direction: row; /* squares: side to side inside rows*/
    border: 1px solid blue;
}

footer {
    text-align: center;
    padding: 16px;
    font-size: small;
}