* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

body {
    background-color: cornsilk;
}

.container {
    display: flex;
    justify-content: center;
}

.squaresContainer {
    display: flex;
    flex-direction: column; /* rows: row under row */
    width: 400px;
    height: 400px;
    border: 1px solid black;
    background-color: black;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1; 
}

.square { 
    flex: 1;
    flex-direction: row; /* squares: side to side inside rows*/
    border: 1px solid gainsboro;
    background-color: white;
}

.sideBar {
    background-color:bisque;
    width: 200px;
    padding: 16px;
    text-align: center;
}

.settingsContainer {
    text-align: left;
    padding: 32px;
}

footer {
    text-align: center;
    padding: 16px;
    font-size: small;
}